---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro'
import SocialPill from '../components/icons/SocialPill.astro';
import GitHub from '../components/icons/GitHub.astro';
import Email from '../components/icons/Email.astro';
import Experiencia from '../components/Experiencia.astro'
import ExperienciaIcon from '../components/icons/ExperienciaIcon.astro'
import SobreMiIcon from '../components/icons/SobreMi-Icon.astro';
import SobreMi from '../components/SobreMi.astro';
import Footer from '../components/Footer.astro'
import Proyectos from '../components/Proyectos.astro';
---

<Layout title="Portafolio dev Yovanis Bossio">
	<main class="px-4 bg-white text-black dark:bg-black dark:text-white">
		<section class="w-full lg:w-[740px] mx-auto py-44 pb-25">
			<h1 class="text-black text-xl lg:text-3xl md:text-4xl font-bold flex flex-row gap-x-2 pb-6 lg:pb-10">Hola soy Yovanis,
				 <a 
				 href="https://www.linkedin.com/in/yovanis-manuel-bossio-lambra%C3%B1o-2796b8206"
				 target="_blank"
				 rel="noopener"
				 class="flex justify-center items-center mt-4"><Badge> Disponible para trabajar</Badge>
				</a>
			</h1>
			
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[900px]">
				+2 año de experiencia. Desarrollador webs de Barranquilla, Atlántico. 
				Especializado en Desarrollar aplicaciones webs únicas. 
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/yovanis-manuel-bossio-lambra%C3%B1o-2796b8206"> 
					<LinkedinIcon  class="size-4  md:size-6"/>Linkedin
				</SocialPill>

				<SocialPill href="https://github.com/Ymbossio"> 
					<GitHub  class="size-4 md:size-6"/>Github
				</SocialPill>

				<SocialPill href="mailto:Yovanis2001@gmail.com"> 
					<Email  class="size-4 md:size-6"/>Yovanis2001@gmail.com
				</SocialPill>
			</ul>
		</section>

		<section id="Experiencia" class="w-full lg:w-[740px] pb-24 mx-auto">
			<h2 class="text-4xl font-semibold mb-7 flex gap-x-3 items-center">
				<ExperienciaIcon  class="size-10"/>
				Experiencia Laboral
			</h2>
			<Experiencia />
		</section>

		<section id="Proyectos" class="w-full lg:w-[740px] pb-24 mx-auto">
			<h2 class="text-4xl font-semibold mb-7 flex gap-x-3 items-center">
				<ExperienciaIcon  class="size-10"/>
				Proyectos Personales
			</h2>
			<Proyectos />
		</section>

		<section id="Sobre-mi" class="w-full lg:w-[740px] pb-25 py-35 mx-auto">
			<h2 class="text-4xl font-semibold mb-7 flex gap-x-3 items-center">
				<SobreMiIcon  class="size-10"/>
				Sobre Mí
			</h2>
			<SobreMi />

			<footer class="w-full lg:w-[740px] mt-10 mx-auto">
				<Footer />
			</section>
		</section>


	</main>
</Layout>
