---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-black text-5xl font-bold flex flex-row gap-x-2 pb-10">Hola soy Yovanis,
				 <a 
				 href="https://www.linkedin.com/in/yovanis-manuel-bossio-lambra%C3%B1o-2796b8206"
				 target="_blank"
				 rel="noopener"
				 class="flex justify-center items-center mt-4"><Badge> Disponible para trabajar</Badge>
				</a>
			</h1>
			
			<h2 class="text-2xl opacity-80 text-wrap">
				+1 año de experiencia. Desarrollador webs de Barranquilla, Atlántico. 
				Especializado en Desarrollar aplicaciones webs únicas 
			</h2>

			<ul>
				<li>
					<a href="https://www.linkedin.com/in/yovanis-manuel-bossio-lambra%C3%B1o-2796b8206"> 

					<LinkedinIcon  class="w-6 h-6"/>
					
			
						
					Linkedin</a>
				</li>
			</ul>


		</section>
	</main>
</Layout>
