
<main class="flex justify-center gap-4 mt-2 bg-whit mb-40 text-black dark:bg-black dark:text-white">

	<div class="left-12 min-h-[400px] min-w-[300px] flex flex-col relative">
        
		<h1 class="text-6xl font-bold mt-40 flex py-1">Hola, soy</h1>
        <h1 class="text-6xl font-bold py-1">Yovanis</h1>

		<p class="text-2xl opacity-60"> Transformo ideas en soluciones digitales</p>

		<div class="text-lg d-block mt-4 flex gap-2 py-1 ml-2">
			<button class="bg-black text-white p-3 rounded-md hover:button hover:scale-110 transition duration-500">Sobre mí</button>
			<button class="bg-black text-white p-3 rounded-md hover:button hover:scale-110 transition duration-500">Proyectos</button>
		</div>


		<div class="mt-2 flex space-x-8">
			<div class="tex-center">
				<h2 class="font-bold text-2xl text-center">+2</h2>
				<span class="opacity-60">Experiencia</span>
			</div>

			<div class="tex-center">
				<h2 class="font-bold text-2xl text-center">23</h2>
				<span class="opacity-60">Edad</span>
			</div>

			<div class="tex-center">
				<h2 class="font-bold text-2xl text-center">6</h2>
				<span class="opacity-60">Tecnologías </span>
			</div>

		</div>
			


    </div>


    <div class="p-4 text-center left-10  min-h-[400px] min-w-[400px] flex flex-col relative">
		
		<img src="/public/brand-javascript.png" alt="brand javascript" class="size-8 md:size-8 absolute top-40 right-12"/>
		<img src="/public/brand-nodejs.png" alt="brand nodejs" class="size-8 md:size-8 absolute top-80 right-4"/>
		<img src="/public/brand-php.png" alt="brand php" class="size-8 md:size-8 absolute top-60 right-22"/>
		
		<img src="/public/users-vector.png" class="size-700 md:size-400 absolute bottom-0 left-1/2 -translate-x-1/2" alt="falta la imagen está es de prueba"/>
    </div>

</main>
