<header class="flex justify-between items-center py-5 w-[950px] mx-auto">
    <img class="rounded-full w-12 h-12"
    src="https://media.licdn.com/dms/image/D4E03AQHY8thc7KBniQ/profile-displayphoto-shrink_200_200/0/1685068359442?e=2147483647&v=beta&t=Sgb-F_KEzQcJLT7u8uXgCKuiw9-gFcAIHqw4I8YNpVU" alt="photo Yovanis "></img>


    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/proyect">Contacts</a>
        <a href="/contact">Proyects</a>
    </nav>

</header>