<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"> <div class="[&amp;>p]:mb-4 [&amp;>p>strong]:text-yellow-500 dark:[&amp;>p>strong]:text-yellow-100 [&amp;>p>strong]:font-normal [&amp;>p>strong]:font-mono text-pretty order-2 md:order-1"> <p>
    Me llamo Yovanis Bossio. Innovador apasionado por la creación de experiencias web excepcionales.
     Busco desafíos y oportunidades para aplicar mis habilidades técnicas y creativas en el mundo digital.
    
    </p> <p>
        Mi destreza se extiende al diseño y programación de páginas web utilizando tecnologías como 
        <strong>React.JS, Node.js</strong>, y la implementación de buenas prácticas en el desarrollo de sistemas de información con
        <strong>MySQL, POSTGRESQL, CSS, HTML, JAVASCRIPT, GITHUB, NODE.JS y EXPRESS.JS.</strong> 
        <br> A demás, cuento con excelentes habilidades de trabajo en equipo. 
    </p> <p>

       Me considero una persona capaz, dedicada y versátil.

    </p> </div> <img width="200" height="200" src="/src/components/PhotoMe2.jpg" alt="Yovanis Bossio" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> </article>
